.header {
  height: 8rem;
  width: 100%;
  display: flex;
  padding-inline: 5rem;
  gap: 15rem;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--ff-text);

}

.nav-link {
  color: var(--cc-grey);
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: black;
}

.nav-icon {
  filter: var(--svg-filter);
  height: 1rem;
  cursor: pointer;
}

.nav-icon:hover {
  filter: var(--svg-hover);
}

@media only screen and (max-width: 600px) {
  .header {
    padding-inline: 2em;
  }
}